.swiper-pagination {
  text-align: right !important;
}

.swiper-pagination-bullet {
  background: gray !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background: white !important;
}

.swiper-button-prev {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper-button-next {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  transform: scale(1.1);
}
